{% extends "blog/madre2.html" %}

{% load static %}

{% block inserte_aqui_su_contenido %}
<main>
    <div class="row">
                <div class="col-lg-5">
                <img src="../../static/blog/assets/img/foto_about.jpeg" class=" img-fluid rounded-circle mb-3">  
            </div>
                <blockquote>
                <p class="text-lg font-medium w-4/5 mx-auto">
                    “Abogado, actualmente trabajo en el Poder Judicial de la Provincia de Buenos Aires. Tengo 26 años y este es el primer contacto con el mundo de la programación. Estoy muy motivado y si bien este blog tiene muchos desperfectos, cada vez que me sentaba a desarrollarlo, lo hacia con muchas ganas. Se que este curso es el principio de un camino que espero sea largo y rinda sus frutos.”
                </p>
                </blockquote>
                <figcaption class="font-medium">
                <div class="text-sky-500 dark:text-sky-400 w-4/5 mx-auto">
                    Martin Sebastian Ghirardi
                </div>
                <div class="text-slate-700 dark:text-slate-500 w-4/5 mx-auto">
                    New Django Developer
                </div>
                </figcaption>
            </div>
        </figure>    
    </section>
<!-- <BODY>
    <H2>Acerca de Martin Ghirardi</H2>
    <UL>
    <LI>Soy abogado, tengo 26 años y este es mi primer contacto con la programacion</LI>
    <LI>Estoy recien aprendiendo las bases, se muy poco de Python y mucho menos de Frontend</LI>
    <LI>Me gustan mucho los deportes, la musica en todos sus estilos, pero particularmente el genero de electronica Progressive House</LI>
    <LI>Me gustaria decir que soy Dj en mis tiempos libres, pero solo soy un aficionado que se divierte y pasa buenos ratos compartiendo nuevos tracks con mis amigos</LI>
    </UL>
    <BR> -->
{% endblock %}