{% extends "blog/madre2.html" %}

{% load static %}

{% block inserte_aqui_su_contenido %}

<BODY>
    <H2>Acerca de Martin Ghirardi</H2>
    <UL>
    <LI>Soy abogado, tengo 26 años y este es mi primer contacto con la programacion</LI>
    <LI>Estoy recien aprendiendo las bases, se muy poco de Python y mucho menos de Frontend</LI>
    <LI>Me gustan mucho los deportes, la musica en todos sus estilos, pero particularmente el genero de electronica Progressive House</LI>
    <LI>Me gustaria decir que soy Dj en mis tiempos libres, pero solo soy un aficionado que se divierte y pasa buenos ratos compartiendo nuevos tracks con mis amigos</LI>
    </UL>
    <BR>
{% endblock %}