{% extends "blog/madre2.html" %}

{% load static %}

{% block inserte_aqui_su_contenido %}
<h1>Fallos y Casos famosos </h1>
<ul>
    {% for jurisprudencia in object_list %}
    
    <li>
        <p>Fallo: {{ jurisprudencia.titulo }}</p>
        <p>
            <a href="{% url 'JurisprudenciaDetail' jurisprudencia.id %}">Ver jurisprudencia</a>
            <a href="{% url 'JurisprudenciaUpdate' jurisprudencia.id %}">Editar</a>
            <a href="{% url 'JurisprudenciaDelete' jurisprudencia.id %}">Borrar</a>
        </p>
        
    </li>
    {% endfor %}
</ul>

{% endblock %}