<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Entrega Final - Proyecto Coder</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <!-- <link href="css/styles.css" rel="stylesheet" /> -->
        <link href="{% static 'blog/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
                <a class="navbar-brand" href="{% url 'Ingrese Letrado' %}">Ingrese Letrado</a>
                <a class="navbar-brand" href="{% url 'Ingresar Jurisprudencia' %}">Ingresar Jurisprudencia</a>
                <a class="navbar-brand" href="{% url 'JurisprudenciaList' %}">Ver Jurisprudencia</a>
                <a class="navbar-brand" href="{% url 'Ver Letrados' %}">Ver Letrados</a>
                <a class="btn btn-primary" href="#signup">Sign Up</a>
            </div>
        </nav>

    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        
        <input type="submit" value="Cambiar" />
    </form>
    <div align="center">
    <a class="navbar-brand" href="{% url 'JurisprudenciaList' %}">Volver</a>
    </div>


</body>
</html>